html,
body {
    width: 60%;
    height: 60%;
    padding: 0;
    margin: 10%;
}

#board {
    position: absolute;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
}
