html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden hidden;
}

#board {
    width: 60%;
    height: 80%;
    margin: 20%;
    margin-top: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/img/wood.png");
    display: none;
    flex-wrap: wrap;
    overflow: hidden hidden;
}

.message-container {
    width: 29.3%;
    height: 46%;
    margin: 1.5%;
    overflow: hidden hidden;
}

.message0 {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../assets/img/page1.png");
    flex-direction: column;
    overflow: hidden hidden;

}

.message1 {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../assets/img/page2.png");
    flex-direction: column;
    overflow: hidden hidden;
    
}

.message2 {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../assets/img/page3.png");
    flex-direction: column;
    overflow: hidden hidden;
    
}

.message3 {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../assets/img/page4.png");
    flex-direction: column;
    overflow: hidden hidden;
    
}

.title {
    font-size: larger;
    font-weight: bold;
    margin: 50px;
}

.content {
    font-size: large;
    margin-bottom: 15px;;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.author {
    font-size: large;
    font-style: italic;
    margin-right: 50px;
    text-align: right;
}
