html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden hidden;
}

#video {
    width: 60%;
    height: 60%;
    margin: 20%;
    margin-top: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
    display: none;
    flex-wrap: wrap;
}

.message {
    width: 20%;
    height: 40%;
    margin: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5));
    display: flex;
    flex-direction: column;
}
