html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#video {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
}

.video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -99;
}
